button {
  background-color: #6495ed;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
}
input {
  padding: 1px 5px 1px 0;
  width: 100%;
  border: 0;
  background-color: #6495ed;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.bridge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.controls-container,
.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.indicator {
  align-self: center;
  background-color: #ff0000;
  height: 60px;
  width: 60px;
  margin: 50px;
  border-radius: 100%;
  &.active {
    background-color: #adff2f;
  }
}
.buttons-container {
  padding-top: 10px;
}